
.ssImage{
  min-height: 400px;
    
}
.ssImage img{
     height: 500px;
     width: 100%;
     object-fit:fill
}
.border-icon-circle{   
    height: 20px;
    width: 20px;
    background-color: var(--secondary-color);   
    border-radius: 60%;
    bottom: -12px;
   
}
.border-icon{   
    height: 30px;
    width: 30px;
    color: var(--secondary-color);  
   
}
