.footerImageBg{
    background-image: url('/FooterImage/Footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}
.footerImageBg .Overlay::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0; 
  }
  .footer-bg{
    background-color: #2f2f2f;
  }